 .inner-layout-unfold {
     position: absolute;
     width: 89%;
     left: 11%;
     top: 64px;
    padding: 0 24px 24px;
  }
  .inner-layout-fold {
    position: absolute;
    width: 95%;
    left: 5%;
    top: 64px;
    padding: 0 24px 24px;
  }
  .trigger-placement {
    position: absolute;
    left: 0;
    top: 3%;
  }
  nz-breadcrumb {
    margin: 16px 0;
  }

  nz-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }
  .statistics-title,.operate-title {
    color: #919cab;
    font-weight: 700;
    font-size: 15px;
  }
  .statistic-card {
    display: flex;
    justify-content: space-between;
  }
  .statistical-situation {
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
  }
  #statistical-role,#statistical-gender,#statistical-age {
    width: 31%;
    height: 250px;
    box-shadow: 5px 3px 10px #ededed;
  }
  .operate-btn {
    margin-right: 15px;
  }
  .select-box {
    display: flex;
    width: 300px;
  }
  .input-width {
    width: 238px;
  }
  .tab {
    margin-top: 40px;
  }
 
  
 