<nz-layout style="position:relative">
    <!-- 头部 -->
    <app-header></app-header>
    <nz-layout>
    <!-- 侧边 -->
      <app-aside [isCollapsed] = "isCollapsed"></app-aside>
      <nz-layout [ngClass]="{'inner-layout-unfold':!isCollapsed,'inner-layout-fold':isCollapsed}" >
      <span
        class="trigger trigger-placement"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></span>
    <!-- 导航面包屑 -->
        <nz-breadcrumb>
          <nz-breadcrumb-item>系统</nz-breadcrumb-item>
          <nz-breadcrumb-item>账号与用户</nz-breadcrumb-item>
          <nz-breadcrumb-item>账号管理</nz-breadcrumb-item>
        </nz-breadcrumb>
    <!-- 内容     -->
        <nz-content>
            <div class="statistics-box">
                <p class="statistics-title">用户信息概览</p>
                <div style="padding: 10px 30px 30px 30px;background: linear-gradient(to bottom, #896ec1, transparent);border-radius: 19px;">
                  <div nz-row class="statistic-card">
                    <div nz-col [nzSpan]="4">
                      <nz-card>
                        <nz-row [nzGutter]="16">
                          <nz-col [nzSpan]="14">
                            <nz-statistic nzValue="{{sysAdmin}}" [nzTitle]="'系统管理员人数'"></nz-statistic>
                          </nz-col>
                        </nz-row>
                      </nz-card>
                    </div>
                    <div nz-col [nzSpan]="4">
                      <nz-card>
                        <nz-row [nzGutter]="16">
                          <nz-col [nzSpan]="14">
                            <nz-statistic nzValue="{{comAdmin}}" [nzTitle]="'社区管理员人数'"></nz-statistic>
                          </nz-col>
                        </nz-row>
                      </nz-card>
                    </div>
                    <div nz-col [nzSpan]="4">
                      <nz-card>
                        <nz-row [nzGutter]="16">
                          <nz-col [nzSpan]="14">
                            <nz-statistic nzValue="{{staff}}" [nzTitle]="'社区工作人员人数'"></nz-statistic>
                          </nz-col>
                        </nz-row>
                      </nz-card>
                    </div>
                    <div nz-col [nzSpan]="4">
                      <nz-card>
                        <nz-row [nzGutter]="16">
                          <nz-col [nzSpan]="12">
                            <nz-statistic nzValue="{{volunteer}}" [nzTitle]="'志愿者人数'"></nz-statistic>
                          </nz-col>
                        </nz-row>
                      </nz-card>
                    </div>
                    <div nz-col [nzSpan]="4">
                      <nz-card>
                        <nz-row [nzGutter]="16">
                          <nz-col [nzSpan]="12">
                            <nz-statistic nzValue="{{ordinary}}" [nzTitle]="'普通用户人数'"></nz-statistic>
                          </nz-col>
                        </nz-row>
                      </nz-card>
                    </div>
                  </div>
                </div>
                 <!-- 统计情况 -->
                 <div class="statistical-situation">
                  <div id="statistical-role" echarts [options]="roleOption"></div>
                  <div id="statistical-gender" echarts [options]="ageOption"></div>
                  <div id="statistical-age" echarts [options]="genderOption"></div>
             </div>
            </div>
            <div class="operate">
              <p class="operate-title">用户信息管理</p>
              <div >
                <button class="operate-btn" nz-button nzType="default" (click)="add()">新增用户</button>
                <a
                  nz-popconfirm
                  nzPopconfirmTitle="您确认要删除所选用户吗?"
                  nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="confirm()"
                  (nzOnCancel)="cancel()"
                >
                <button class="operate-btn" nz-button nzType="primary" nzDanger>批量删除</button>
                </a>
                <nz-upload
                    nzAction="api/user/import"
                    [(nzFileList)]="fileList"
                    [nzShowUploadList]="false"
                    [nzHeaders]="{ authorization: 'authorization-text' }"
                    (nzChange)="handleChange($event)"
                   >
                    <button class="operate-btn" nz-button nzType="default">
                      <span nz-icon nzType="vertical-align-top" nzTheme="outline"></span>批量导入</button>
                </nz-upload>
                <button class="operate-btn" nz-button nzType="default" (click)="export()">
                  <span nz-icon nzType="vertical-align-bottom" nzTheme="outline"></span>批量导出</button>
              </div>
            </div>
                <!-- 表格 -->
            <nz-tabset class="tab" 
               [nzTabBarExtraContent]="extraTemplate"
               [nzSelectedIndex]="SelectedIndex"
               (nzSelectedIndexChange)="SelectedIndexChange($event)">
              <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab" >
                <nz-table
                #rowSelectionTable
                nzShowSizeChanger
                [nzData]="listOfData"
                [nzFrontPagination]="false"
                [nzPageSizeOptions]="[3,5]"
                [nzShowQuickJumper] = "true"
                [nzPaginationType] = "'small'"
                [nzPageIndex] = "pageIndex"
                [nzPageSize] = "pageSize"
                [nzTotal] = "total"
                (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
                (nzPageIndexChange)="nzPageIndexChange($event)"
                (nzPageSizeChange)="nzPageSizeChange($event)"
              >
                <thead>
                  <tr>
                    <th
                      [(nzChecked)]="checked"
                      [nzIndeterminate]="indeterminate"
                      (nzCheckedChange)="onAllChecked($event)"
                    ></th>
                    <th>真实姓名</th>
                    <th>用户名</th>
                    <th>年龄</th>
                    <th>性别</th>
                    <th>电话</th>
                    <th>地址</th>
                    <th>行为</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of rowSelectionTable.data">
                    <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
                    <td>{{ data.userRealName }}</td>
                    <td>{{ data.username }}</td>
                    <td>{{ data.age }}</td>
                    <td>{{data.sex}}</td>
                    <td>{{data.phone}}</td>
                    <td>{{data.address}}</td>
                    <td>
                      <a><button nz-button nzSize="small" nzType="default" (click)="edit(data)">编辑</button></a>
                      <nz-divider nzType="vertical"></nz-divider>
                      <a
                          nz-popconfirm
                          nzPopconfirmTitle="您确认要删除此用户吗?"
                          nzPopconfirmPlacement="bottom"
                          (nzOnConfirm)="Singleconfirm(data.id)"
                          (nzOnCancel)="cancel()"
                        >
                        <button nz-button nzSize="small" nzType="primary" nzDanger>删除</button>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
              </nz-tab>
            </nz-tabset>
            <nz-back-top [nzVisibilityHeight]="150"></nz-back-top>
        </nz-content>
      </nz-layout>
    </nz-layout>
</nz-layout>
<!-- 新增|编辑用户弹窗 -->
<nz-modal
      [(nzVisible)]="isVisible" 
      [nzTitle]="userMoadl"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()"
      [nzOkLoading]="isOkLoading"
    >
        <form *nzModalContent nz-form [formGroup]="UservalidateForm">
              <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>用户真实姓名</nz-form-label>
                <nz-form-control [nzSpan]="12" [nzErrorTip]="userRealnameErrorTpl">
                  <input nz-input formControlName="userRealName" placeholder="请输入用户真实姓名" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>用户名</nz-form-label>
                <nz-form-control [nzSpan]="12" [nzErrorTip]="userNameErrorTpl">
                  <input nz-input formControlName="username" placeholder="请输入用户名" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                  <nz-form-label [nzSpan]="7" nzRequired>年龄</nz-form-label>
                  <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="ageErrorTpl">
                      <nz-input-number  
                          class="input-box input-width" 
                          nz-input 
                          [nzMin]="1"
                          [nzMax]="120" 
                          [nzStep]="1"
                          formControlName="age" 
                          nzPlaceHolder="请输入用户年龄"
                          ></nz-input-number>
                      </nz-form-control>
              </nz-form-item>
              <nz-form-item >
                <nz-form-label [nzSpan]="7" nzRequired>性别</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="性别不能为空">
                    <nz-radio-group formControlName="sex">
                        <label nz-radio nzValue="女">女</label>
                        <label nz-radio nzValue="男">男</label>
                      </nz-radio-group>
                    </nz-form-control>
            </nz-form-item> 
            <nz-form-item >
              <nz-form-label [nzSpan]="7" nzRequired>身份</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="身份不能为空">
                <nz-select class="input-width" nzShowSearch  nzAllowClear nzPlaceHolder="请选择用户的身份" formControlName="roleId">
                  <nz-option nzLabel="系统管理员" nzValue="1"></nz-option>
                  <nz-option nzLabel="社区管理员" nzValue="2"></nz-option>
                  <nz-option nzLabel="社区工作人员" nzValue="3"></nz-option>
                  <nz-option nzLabel="志愿者" nzValue="4"></nz-option>
                  <nz-option nzLabel="普通用户" nzValue="5"></nz-option>
                </nz-select>
              </nz-form-control>
          </nz-form-item> 
            <nz-form-item >   
              <nz-form-label [nzSpan]="7" nzRequired>密码</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="pwdErrorTpl">
                  <nz-input-group  class="input-box input-width"  [nzSuffix]="suffixTemplate">
                      <input 
                        nz-input 
                        [type]="passwordVisible ? 'text' : 'password'" 
                        formControlName="password" 
                        id="password" 
                        placeholder="请输入密码"/>
                  </nz-input-group>
                  </nz-form-control>
            </nz-form-item>      
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>电话号码</nz-form-label>
                <nz-form-control [nzSpan]="12"  [nzErrorTip]="phoneErrorTpl">
                  <input class="input-width" nz-input formControlName="phone" placeholder="请输入电话号码" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item class="input-box">
                <nz-form-label [nzSpan]="7" nzRequired>详细地址</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="addressErrorTpl">
                  <nz-textarea-count [nzMaxCharacterCount]="300">
                    <textarea rows="2"  class="input-width" formControlName="address" nz-input placeholder="请输入用户详细地址(包含省市区|县)"></textarea>
                  </nz-textarea-count>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-modal>
<!-- 密码输入框可视 -->
<ng-template #suffixTemplate>
  <span
    nz-icon
    [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
    (click)="passwordVisible = !passwordVisible"
  ></span>
</ng-template>
    <!-- 用户真实姓名错误提示 -->
    <ng-template #userRealnameErrorTpl let-control>
      <ng-container *ngIf="control.hasError('required')">真实姓名不能为空</ng-container>
      <ng-container *ngIf="control.hasError('maxlength')">真实姓名不超过30个字符</ng-container>
    </ng-template>
    <!-- 用户名错误提示 -->
  <ng-template #userNameErrorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">用户名不能为空</ng-container>
    <ng-container *ngIf="control.hasError('maxlength')">用户名不超过30个字符</ng-container>
  </ng-template>
  <!-- 年龄错误提示 -->
  <ng-template #ageErrorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">年龄不能为空</ng-container>
    <ng-container *ngIf="control.hasError('minlength')">年龄不小于1</ng-container>
    <ng-container *ngIf="control.hasError('maxlength')">用户名不超过120</ng-container>
  </ng-template>
  <!-- 密码错误提示 -->
  <ng-template #pwdErrorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">密码不能为空</ng-container>
    <ng-container *ngIf="control.hasError('minlength')">密码不少于6个字符</ng-container>
    <ng-container *ngIf="control.hasError('maxlength')">密码不超过15个字符</ng-container>
  </ng-template>
  <!-- 地址错误提示 -->
  <ng-template #addressErrorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">地址不能为空</ng-container>
    <ng-container *ngIf="control.hasError('maxlength')">地址不超过300个字符</ng-container>
  </ng-template>
<!-- 电话号码错误提示 -->
<ng-template #phoneErrorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">电话号码不能为空</ng-container>
    <ng-container *ngIf="control.hasError('errorPhone')">请填写正确的电话号码</ng-container>
  </ng-template>
  <!-- tabs右上搜索框 -->
  <ng-template #extraTemplate>
    <nz-input-group nzCompact class="select-box">
      <nz-select [(ngModel)]="selectType" style="width: 120px;">
        <nz-option [nzLabel]="'真实姓名'" [nzValue]="'realname'"></nz-option>
        <nz-option [nzLabel]="'账号名'" [nzValue]="'name'"></nz-option>
        <nz-option [nzLabel]="'电话号码'" [nzValue]="'phone'"></nz-option>
      </nz-select>
      <input type="text" nz-input [(ngModel)]="inputValue" placeholder="请输入要搜索的信息" (keypress)="onload()"/>
    </nz-input-group>
  </ng-template>

  