<nz-layout style="position:relative">
    <!-- 头部 -->
    <app-header></app-header>
    <nz-layout>
    <!-- 侧边 -->
      <app-aside [isCollapsed] = "isCollapsed"></app-aside>
      <nz-layout [ngClass]="{'inner-layout-unfold':!isCollapsed,'inner-layout-fold':isCollapsed}" >
        <div class="top">
          <span
          class="trigger trigger-placement"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        ></span>
      <!-- 导航面包屑 -->
          <nz-breadcrumb>
            <nz-breadcrumb-item>系统</nz-breadcrumb-item>
            <nz-breadcrumb-item>志愿者信息管理</nz-breadcrumb-item>
          </nz-breadcrumb>
        </div> 
    <!-- 内容     -->
    <nz-content>
      <div class="statistics-box">
        <!-- 统计情况 -->
        <div class="statistical-situation">
          <div id="statistical-gender" echarts [options]="ageOption"></div>
          <div id="statistical-age" echarts [options]="genderOption"></div>
          <div id="statistical-available" echarts [options]="availableOption"></div>
        </div>
     </div>
     <div>
      <p class="operate-title">志愿者信息管理</p>
      <div class="operate">
        <a
          nz-popconfirm
          nzPopconfirmTitle="您确认要删除所选志愿者吗?"
          nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="confirm()"
          (nzOnCancel)="cancel()"
        >
        <button class="operate-btn" nz-button nzType="primary" nzDanger>批量删除</button>
        </a>
        <nz-upload
            nzAction="api/user/import"
            [nzShowUploadList]="false"
            [nzHeaders]="{ authorization: 'authorization-text' }"
            (nzChange)="handleChange($event)"
           >
            <button class="operate-btn" nz-button nzType="default">
              <span nz-icon nzType="vertical-align-top" nzTheme="outline"></span>批量导入</button>
        </nz-upload>
        <button class="operate-btn" nz-button nzType="default" (click)="export()">
          <span nz-icon nzType="vertical-align-bottom" nzTheme="outline"></span>批量导出</button>
          <nz-input-group nzCompact class="select-box">
            <nz-select [(ngModel)]="selectType" style="width: 120px;">
              <nz-option [nzLabel]="'姓名'" [nzValue]="'name'"></nz-option>
              <nz-option [nzLabel]="'状态'" [nzValue]="'available'"></nz-option>
            </nz-select>
            <input class="search" type="text" nz-input [(ngModel)]="inputValue" placeholder="输入进行搜索" (keypress)="onload()"/>
          </nz-input-group>
      </div>
    </div>
    <nz-table
    class="table"
    #rowSelectionTable
    nzShowSizeChanger
    [nzData]="listOfData"
    [nzFrontPagination]="false"
    [nzPageSizeOptions]="[3,5]"
    [nzShowQuickJumper] = "true"
    [nzPaginationType] = "'small'"
    [nzPageIndex] = "pageIndex"
    [nzPageSize] = "pageSize"
    [nzTotal] = "total"
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
    (nzPageIndexChange)="nzPageIndexChange($event)"
    (nzPageSizeChange)="nzPageSizeChange($event)"
  >
    <thead>
      <tr>
        <th
          [(nzChecked)]="checked"
          [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="onAllChecked($event)"
        ></th>
        <th>姓名</th>
        <th>年龄</th>
        <th>性别</th>
        <th>电话</th>
        <th>地址</th>
        <th>是否空闲</th>
        <th>任务总得分</th>
        <th>任务总数</th>
        <th>擅长</th>
        <th>行为</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
        <td>{{data.name}}</td>
        <td>{{ data.age }}</td>
        <td>{{ data.sex }}</td>
        <td>{{ data.phone }}</td>
        <td>{{data.address}}</td>
        <td>{{data.available}}</td>
        <td>{{ data.score }}</td>
        <td>{{ data.workCount }}</td>
        <td>{{data.skill}}</td>
        <td>
          <a
              nz-popconfirm
              nzPopconfirmTitle="您确认要删除此志愿者吗?"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="Singleconfirm(data.id)"
              (nzOnCancel)="cancel()"
            >
            <button nz-button nzSize="small" nzType="primary" nzDanger>删除</button>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a >
            <button class="check-btn" nz-button nzSize="small" nzType="default" (click)="check(data.id)">查看任务</button>
          </a>
          <a >
            <button nz-button nzSize="small" nzType="default" (click)="createTask(data)" >派发任务</button>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
    <!-- 任务管理 -->
    <div class="work-box" *ngIf="isShow">
       <p class="work-title" (click)="close()">任务管理</p>
       <nz-table
       class="table"
       #rowSelectionTableTask
       nzShowSizeChanger
       [nzData]="listOfDataTask"
       [nzFrontPagination]="false"
       [nzPageSizeOptions]="[3,5]"
       [nzShowQuickJumper] = "true"
       [nzPaginationType] = "'small'"
       [nzPageIndex] = "pageIndexTask"
       [nzPageSize] = "pageSizeTask"
       [nzTotal] = "totalTask"
       (nzCurrentPageDataChange)="onCurrentPageDataChangeTask($event)"
       (nzPageIndexChange)="nzPageIndexChangeTask($event)"
       (nzPageSizeChange)="nzPageSizeChangeTask($event)"
     >
       <thead>
         <tr>
           <th></th>
           <th>任务标题</th>
           <th>任务派发人</th>
           <th>任务总分</th>
           <th>实际得分</th>
           <th>评论</th>
           <th>创建时间</th>
           <th>完成时间</th>
           <th>操作</th>
         </tr>
       </thead>
       <tbody>
        <ng-container *ngFor="let data of listOfDataTask">
          <tr >
              <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
              <td>{{data.name}}</td>
              <td>{{ data.founder }}</td>
              <td>{{ data.score }}</td>
              <td>{{ data.getscore }}</td>
              <td>{{ data.comment }}</td>
              <td>{{data.creatTime}}</td>
              <td>{{data.finishTime}}</td>
              <td>
                  <button class="operate-btn" nzSize="small"  nz-button nzType="default" (click)="rate(data.id)">打分</button>
                  <nz-divider nzType="vertical"></nz-divider>
                  <button class="operate-btn" nzSize="small"  nz-button nzType="default" (click)="finish(data)">完成任务</button>
              </td>
         </tr>
         <tr [nzExpand]="expandSet.has(data.id)">
           <span>{{ data.content }}</span>
        </tr>
        </ng-container>
       </tbody>
     </nz-table>
    </div>
      <nz-back-top [nzVisibilityHeight]="150"></nz-back-top>
    </nz-content>
      </nz-layout>
    </nz-layout>
</nz-layout>
<!-- 打分 -->
<nz-modal
[(nzVisible)]="isVisible" 
[nzTitle]="'打分'"
(nzOnCancel)="handleCancel()"
(nzOnOk)="handleOk()"
[nzOkLoading]="isOkLoading"
>
  <form *nzModalContent nz-form [formGroup]="validateForm">
        <nz-form-item>
          <nz-form-label [nzSpan]="7">评价</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input nz-input formControlName="comment" placeholder="请输入评价" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7">评分</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-rate formControlName="getscore" [nzTooltips]="tooltips"></nz-rate>
          </nz-form-control>
        </nz-form-item>   
  </form>
</nz-modal>
<!-- 派发任务 -->
<nz-modal
[(nzVisible)]="isVisibleTask" 
[nzTitle]="'派发任务'"
(nzOnCancel)="handleCancelTask()"
(nzOnOk)="handleOkTask()"
[nzOkLoading]="isOkLoadingTask"
>
  <form *nzModalContent nz-form [formGroup]="validateFormTask">
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>任务标题</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="任务标题不能为空" >
            <input class="input-width" nz-input formControlName="name" placeholder="请输入任务标题" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>任务总分</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="任务总分不能为空">
              <nz-input-number  
              class="input-box input-width" 
              nz-input 
              [nzMin]="0"
              [nzStep]="1"
              formControlName="score" 
              nzPlaceHolder="请输入任务总分"
              ></nz-input-number>
          </nz-form-control>
        </nz-form-item>   
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>任务内容</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="任务内容不能为空" >
            <nz-textarea-count [nzMaxCharacterCount]="2000">
              <textarea rows="10"  class="input-textarea" formControlName="content" nz-input placeholder="请输入任务内容"></textarea>
            </nz-textarea-count>
          </nz-form-control>
        </nz-form-item>
  </form>
</nz-modal>

