<nz-layout style="position:relative">
    <!-- 头部 -->
    <app-header></app-header>
    <nz-layout>
    <!-- 侧边 -->
      <app-aside [isCollapsed] = "isCollapsed"></app-aside>
      <nz-layout [ngClass]="{'inner-layout-unfold':!isCollapsed,'inner-layout-fold':isCollapsed}" >
      <span
        class="trigger trigger-placement"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></span>
    <!-- 导航面包屑 -->
        <nz-breadcrumb>
          <nz-breadcrumb-item>系统</nz-breadcrumb-item>
          <nz-breadcrumb-item>社区管理</nz-breadcrumb-item>
        </nz-breadcrumb>
    <!-- 内容     -->
        <nz-content>
            <div class="statistics-box">
                 <!-- 统计情况 -->
                 <div class="statistical-situation">
                  <div id="statistical-province" echarts [options]="provinceOption"></div>
                  <div id="statistical-city" echarts [options]="cityOption"></div>
                  <div id="statistical-area" echarts [options]="areaOption"></div>
                </div>
            </div>
            <div class="operate">
                <p class="operate-title">社区管理</p>
                <div >
                  <button class="operate-btn" nz-button nzType="default" (click)="add()">新增社区</button>
                  <a
                    nz-popconfirm
                    nzPopconfirmTitle="您确认要删除所选社区吗?"
                    nzPopconfirmPlacement="bottom"
                    (nzOnConfirm)="confirm()"
                    (nzOnCancel)="cancel()"
                  >
                  <button class="operate-btn" nz-button nzType="primary" nzDanger>批量删除</button>
                  </a>
                  <nz-upload
                      nzAction="api/user/import"
                      [nzShowUploadList]="false"
                      [nzHeaders]="{ authorization: 'authorization-text' }"
                      (nzChange)="handleChange($event)"
                     >
                      <button class="operate-btn" nz-button nzType="default">
                        <span nz-icon nzType="vertical-align-top" nzTheme="outline"></span>批量导入</button>
                  </nz-upload>
                  <button class="operate-btn" nz-button nzType="default" (click)="export()">
                    <span nz-icon nzType="vertical-align-bottom" nzTheme="outline"></span>批量导出</button>
                </div>
            </div>
            <nz-tabset class="tab" 
            [nzTabBarExtraContent]="extraTemplate"
            [nzSelectedIndex]="SelectedIndex"
            (nzSelectedIndexChange)="SelectedIndexChange($event)">
           <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab" >
             <nz-table
             #rowSelectionTable
             nzShowSizeChanger
             [nzData]="listOfData"
             [nzFrontPagination]="false"
             [nzPageSizeOptions]="[3,5]"
             [nzShowQuickJumper] = "true"
             [nzPaginationType] = "'small'"
             [nzPageIndex] = "pageIndex"
             [nzPageSize] = "pageSize"
             [nzTotal] = "total"
             (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
             (nzPageIndexChange)="nzPageIndexChange($event)"
             (nzPageSizeChange)="nzPageSizeChange($event)"
           >
             <thead>
               <tr>
                 <th
                   [(nzChecked)]="checked"
                   [nzIndeterminate]="indeterminate"
                   (nzCheckedChange)="onAllChecked($event)"
                 ></th>
                 <th>社区名</th>
                 <th>所在省</th>
                 <th>所在市</th>
                 <th>所在区</th>
                 <th>详细地址</th>
                 <th>行为</th>
               </tr>
             </thead>
             <tbody>
               <tr *ngFor="let data of rowSelectionTable.data">
                 <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
                 <td>{{data.name}}</td>
                 <td>{{ data.province }}</td>
                 <td>{{ data.city }}</td>
                 <td>{{ data.area }}</td>
                 <td>{{data.address}}</td>
                 <td>
                   <a><button nz-button nzSize="small" nzType="default" (click)="edit(data)">编辑</button></a>
                   <nz-divider nzType="vertical"></nz-divider>
                   <a
                       nz-popconfirm
                       nzPopconfirmTitle="您确认要删除此社区吗?"
                       nzPopconfirmPlacement="bottom"
                       (nzOnConfirm)="Singleconfirm(data.id)"
                       (nzOnCancel)="cancel()"
                     >
                     <button nz-button nzSize="small" nzType="primary" nzDanger>删除</button>
                   </a>
                 </td>
               </tr>
             </tbody>
           </nz-table>
           </nz-tab>
         </nz-tabset>
            <nz-back-top [nzVisibilityHeight]="150"></nz-back-top>
        </nz-content>
      </nz-layout>
    </nz-layout>
</nz-layout>
  <!-- tabs右上搜索框 -->
  <ng-template #extraTemplate>
      <input type="text" nz-input [(ngModel)]="inputValue" placeholder="输入社区名进行搜索" (keypress)="onload()"/>
  </ng-template>
