.inner-layout-unfold {
    position: absolute;
    width: 89%;
    left: 11%;
    top: 64px;
   padding: 0 24px 24px;
 }
 .inner-layout-fold {
   position: absolute;
   width: 95%;
   left: 5%;
   top: 64px;
   padding: 0 24px 24px;
 }
 .top {
   position: relative;
 }
 .trigger-placement {
    position: absolute;
    left: -18px;
    top: 35%;
 }
 nz-breadcrumb {
   margin: 16px 0;
 }

 nz-content {
   background: #fff;
   padding: 24px;
   min-height: 280px;
 }
 .statistical-situation {
  display: flex;
  justify-content: space-between;
  margin: 40px 0px;
}
#statistical-province,#statistical-city,#statistical-area {
  width: 31%;
  height: 250px;
  box-shadow: 5px 3px 10px #ededed;
}
.operate-title {
  color: #919cab;
  font-weight: 700;
  font-size: 15px;
}
.operate {
  position: relative;
}
.operate-btn {
  margin-right: 15px;
}
.select-box {
  width: 350px;
  display: flex;
  position: absolute;
  left: 29%;
  top: 4.6%;
}
.table {
  margin-top: 40px;
}
