:host {
    text-align: center;
  }
  .header {
    position: relative;
    background-color: #fafafa;
    color: black;
    min-height: 2.3rem;
    line-height: 2.3rem;
}
.login-out {
    position: absolute;
    right: 5%;
    top: 28%;
    font-size: 1rem;
}
 nz-content {
    background: #fafafa;
    min-height: 1.5rem;
    line-height:  1.5rem;
  }
nz-layout {
    margin-bottom: 0.6rem;
}
  
nz-layout nz-layout,
nz-layout:last-child {
    width: 100%;
    height: 100%;
}
.user-info {
    position: relative;
    width: 100%;
    height: 20%;
    background-color: #fafafa;
}
.user-img {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
    left: 4%;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 1.7rem;
}
.user-username {
    position: absolute;
    top: 28%;
    left: 23%;
    color: black;
    font-size: larger;
    font-family: fantasy;
}
.role {
    position: absolute;
    top: 56%;
    left: 21%;
}
.edit {
    position: absolute;
    top: 70%;
    left: 74%;
    color: black;
}
.divide-line {
    margin: 0;
}
.general ,.special{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem auto;
    width: 95%;
    height: 20%;
    border-radius: 0.5rem;
    background: #fff;
}
.general-title,.special-title {
    position: absolute;
    left: 4%;
    top: 25%;
    z-index: 1;
    font-size: 0.5rem;
    font-weight: 700;
}
.special-title {
    top: 44%;
}
.my-quesrtion,.edit-img,.certificate,.apply,.volunteer-work ,.staff-work{
    display: flex;
    flex-direction: column;
}
.general-icon ,.special-icon{
    font-size: 1.2rem;
}
.general-word ,.special-word{
    font-size: 0.1rem;
}
.drawer {
    position: absolute;
}
