.inner-layout-unfold {
    position: absolute;
    width: 89%;
    left: 11%;
    top: 64px;
   padding: 0 24px 24px;
 }
 .inner-layout-fold {
   position: absolute;
   width: 95%;
   left: 5%;
   top: 64px;
   padding: 0 24px 24px;
 }
 .top {
  position: relative;
}
.trigger-placement {
   position: absolute;
   left: -18px;
   top: 35%;
}
 nz-breadcrumb {
   margin: 16px 0;
 }

 nz-content {
   background: #fff;
   padding: 24px;
   min-height: 280px;
 }
 .operate {
   position: relative;
 }
 .operate-title ,.work-title{
    color: #919cab;
    font-weight: 700;
    font-size: 15px;
  }
  .select-box {
    width: 350px;
    display: flex;
    position: absolute;
    left: 5%;
    top: 2.6%;
  }
  .search {
    width: 233px;
    margin-bottom: 33px;
  }