<nz-layout style="position:relative">
    <!-- 头部 -->
    <app-header></app-header>
    <nz-layout>
    <!-- 侧边 -->
      <app-aside [isCollapsed] = "isCollapsed"></app-aside>
      <nz-layout [ngClass]="{'inner-layout-unfold':!isCollapsed,'inner-layout-fold':isCollapsed}" >
        <div class="top">
          <span
          class="trigger trigger-placement"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        ></span>
      <!-- 导航面包屑 -->
          <nz-breadcrumb>
            <nz-breadcrumb-item>系统</nz-breadcrumb-item>
            <nz-breadcrumb-item>问题管理管理</nz-breadcrumb-item>
          </nz-breadcrumb>
        </div>
    <!-- 内容     -->
    <nz-content>
     <div>
      <p class="operate-title">问题管理管理</p>
      <div  class="operate">
          <input class="search" type="text" nz-input [(ngModel)]="inputValue" placeholder="输入创建人姓名进行搜索" (keypress)="onload()"/>
      </div>
    </div>
    <nz-table
    class="table"
    #rowSelectionTable
    nzShowSizeChanger
    [nzData]="listOfData"
    [nzFrontPagination]="false"
    [nzPageSizeOptions]="[3,5]"
    [nzShowQuickJumper] = "true"
    [nzPaginationType] = "'small'"
    [nzPageIndex] = "pageIndex"
    [nzPageSize] = "pageSize"
    [nzTotal] = "total"
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
    (nzPageIndexChange)="nzPageIndexChange($event)"
    (nzPageSizeChange)="nzPageSizeChange($event)"
  >
    <thead>
      <tr>
        <th></th>
          <th>创建人</th>
          <th>问题是否解决</th>
          <th>创建时间</th>
      </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let data of listOfData">
            <tr >
                <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
                <td>{{ data.founder }}</td>
                <td>{{ data.isSolve }}</td>
                <td>{{data.creatTime}}</td>
           </tr>
           <tr [nzExpand]="expandSet.has(data.id)">
             <span>{{ data.content }}</span>
          </tr>
          </ng-container>
    </tbody>
  </nz-table>
      <nz-back-top [nzVisibilityHeight]="150"></nz-back-top>
    </nz-content>
      </nz-layout>
    </nz-layout>
</nz-layout>


