<nz-sider nzWidth="200px" nzTheme="light" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null"  class="aside">
    <ul nz-menu nzMode="inline" class="sider-menu" *ngFor="let item of menus">
      <!-- 包含二级菜单 -->
      <li  *ngIf="item.children.length>0" nz-submenu nzOpen nzIcon="{{item.icon}}" nzTitle="{{item.name}}">
        <ul *ngFor="let child of item.children">
          <li nz-menu-item  [routerLink]="[child.path]">{{child.name}}</li>
        </ul>
      </li>
      <!-- 只有一级菜单 -->
      <li *ngIf="!item.children.length" nz-menu-item [routerLink]="[item.path]">
          <span nz-icon nzType="{{item.icon}}" nzTheme="outline"></span>
          <span>{{item.name}}</span>
      </li>
    </ul>
  </nz-sider>
