<nz-sider nzWidth="200px" nzTheme="light" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null"  class="aside">
    <ul nz-menu nzMode="inline" class="sider-menu">
      <li nz-submenu nzOpen nzIcon="user" nzTitle="账号与用户">
        <ul>
          <li nz-menu-item  [routerLink]="['/user']">账号管理</li>
          <li nz-menu-item  >用户问题追踪</li>
        </ul>
      </li>
      <li nz-menu-item [routerLink]="['/role']" nzPopoverContent="权限管理">
          <span nz-icon nzType="key" nzTheme="outline"></span>
          <span>权限管理</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="home" nzTheme="outline"></span>
        <span>社区管理</span>
      </li>
      <li nz-submenu nzOpen nzIcon="solution" nzTitle="社区工作人员">
        <ul>
          <li nz-menu-item>工作人员信息管理</li>
          <li nz-menu-item>工作人员工作管理</li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzIcon="team" nzTitle="社区志愿者">
        <ul>
          <li nz-menu-item>志愿者信息管理</li>
          <li nz-menu-item>志愿者审批管理</li>
          <li nz-menu-item>志愿者工作管理</li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzIcon="plus" nzTitle="社区医院">
        <ul>
          <li nz-menu-item>社区医院管理</li>
          <li nz-menu-item>健康小知识</li>
        </ul>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="appstore" nzTheme="outline"></span>
        <span>社区物资管理</span>
      </li>
      <li nz-submenu nzOpen nzIcon="user-delete" nzTitle="特殊人员">
        <ul>
          <li nz-menu-item>特殊人员信息管理</li>
          <li nz-menu-item>组织活动</li>
          <li nz-menu-item>问题追踪</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
