.inner-layout-unfold {
    position: absolute;
    width: 89%;
    left: 11%;
    top: 64px;
   padding: 0 24px 24px;
 }
 .inner-layout-fold {
   position: absolute;
   width: 95%;
   left: 5%;
   top: 64px;
   padding: 0 24px 24px;
 }
 .top {
  position: relative;
}
.trigger-placement {
   position: absolute;
   left: -18px;
   top: 35%;
}
 nz-breadcrumb {
   margin: 16px 0;
 }

 nz-content {
   background: #fff;
   padding: 24px;
   min-height: 280px;
 }
 .operate-title,.apply-title {
  color: #919cab;
  font-weight: 700;
  font-size: 15px;
}
.operate {
  position: relative;
}
.operate-btn {
  margin-right: 15px;
}
.search {
  width: 250px;
}
.table {
  margin-top: 40px;
}
.apply-time {
  color: #919cab;
  margin-left: 19px;
  font-size: 13px;
}
.prompt-title {
  color: #c1c1c1;
  font-size: 15px;
}
.advice-text {
    display: inline-block;
    width: 400px;
    height: 90px;
    margin-left: 68px;
    margin-bottom: 10px;
}
.next {
  margin-top: 13px;
}
.next-select {
  width: 250px;
}