<nz-layout style="position:relative">
    <!-- 头部 -->
    <app-header></app-header>
    <nz-layout>
    <!-- 侧边 -->
      <app-aside [isCollapsed] = "isCollapsed"></app-aside>
      <nz-layout [ngClass]="{'inner-layout-unfold':!isCollapsed,'inner-layout-fold':isCollapsed}" >
        <div class="top">
          <span
          class="trigger trigger-placement"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        ></span>
      <!-- 导航面包屑 -->
          <nz-breadcrumb>
            <nz-breadcrumb-item>系统</nz-breadcrumb-item>
            <nz-breadcrumb-item>社区物资管理</nz-breadcrumb-item>
          </nz-breadcrumb>
        </div>
    <!-- 内容     -->
        <nz-content>
          <div class="statistics-box">
            <!-- 统计情况 -->
            <div class="statistical-situation">
              <div id="statistical-species" echarts [options]="speciesOption"></div>
              <div id="statistical-available" echarts [options]="availableOption"></div>
           </div>
          </div>
          <div >
            <p class="operate-title">物资管理</p>
            <div class="operate">
              <button class="operate-btn" nz-button nzType="default" (click)="add()">新增物资</button>
              <a
                nz-popconfirm
                nzPopconfirmTitle="您确认要删除所选物资吗?"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="confirm()"
                (nzOnCancel)="cancel()"
              >
              <button class="operate-btn" nz-button nzType="primary" nzDanger>批量删除</button>
              </a>
              <nz-upload
                  nzAction="api/user/import"
                  [nzShowUploadList]="false"
                  [nzHeaders]="{ authorization: 'authorization-text' }"
                  (nzChange)="handleChange($event)"
                 >
                  <button class="operate-btn" nz-button nzType="default">
                    <span nz-icon nzType="vertical-align-top" nzTheme="outline"></span>批量导入</button>
              </nz-upload>
              <button class="operate-btn" nz-button nzType="default" (click)="export()">
                <span nz-icon nzType="vertical-align-bottom" nzTheme="outline"></span>批量导出</button>
                <nz-input-group nzCompact class="select-box">
                  <nz-select [(ngModel)]="selectType" style="width: 120px;">
                    <nz-option [nzLabel]="'物资名'" [nzValue]="'name'"></nz-option>
                    <nz-option [nzLabel]="'使用状态'" [nzValue]="'available'"></nz-option>
                  </nz-select>
                  <input class="search" type="text" nz-input [(ngModel)]="inputValue" placeholder="输入进行搜索" (keypress)="onload()"/>
                </nz-input-group>
            </div>
          </div>
          <nz-table
          class="table"
          #rowSelectionTable
          nzShowSizeChanger
          [nzData]="listOfData"
          [nzFrontPagination]="false"
          [nzPageSizeOptions]="[3,5]"
          [nzShowQuickJumper] = "true"
          [nzPaginationType] = "'small'"
          [nzPageIndex] = "pageIndex"
          [nzPageSize] = "pageSize"
          [nzTotal] = "total"
          (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
          (nzPageIndexChange)="nzPageIndexChange($event)"
          (nzPageSizeChange)="nzPageSizeChange($event)"
        >
          <thead>
            <tr>
              <th
                [(nzChecked)]="checked"
                [nzIndeterminate]="indeterminate"
                (nzCheckedChange)="onAllChecked($event)"
              ></th>
              <th>物资名</th>
              <th>物资总数</th>
              <th>使用状态</th>
              <th>总借用数量</th>
              <th>行为</th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-data [ngForOf]="rowSelectionTable.data">
            <tr>
              <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
              <td>{{data.name}}</td>
              <td>{{ data.count }}</td>
              <td>{{ data.available }}</td>
              <td>{{data.borrowedCount}}</td>
              <td>
                <a><button nz-button nzSize="small" nzType="default" (click)="edit(data)">编辑</button></a>
                <nz-divider nzType="vertical"></nz-divider>
                <a
                    nz-popconfirm
                    nzPopconfirmTitle="您确认要删除此物资吗?"
                    nzPopconfirmPlacement="bottom"
                    (nzOnConfirm)="Singleconfirm(data.id)"
                    (nzOnCancel)="cancel()"
                  >
                  <button nz-button nzSize="small" nzType="primary" nzDanger>删除</button>
                </a>
                <nz-divider nzType="vertical"></nz-divider>
                <a><button nz-button nzSize="small" nzType="default" (click)="getBorrow(data.id)">查看借用</button></a>
              </td>
            </tr>       
          </ng-template>
          </tbody>
        </nz-table>
        <nz-back-top [nzVisibilityHeight]="150"></nz-back-top>
        </nz-content>
      </nz-layout>
    </nz-layout>
</nz-layout>
<!-- 新增|编辑物资弹窗 -->
<nz-modal
[(nzVisible)]="isVisible" 
[nzTitle]="Moadl"
(nzOnCancel)="handleCancel()"
(nzOnOk)="handleOk()"
[nzOkLoading]="isOkLoading"
>
  <form *nzModalContent nz-form [formGroup]="validateForm">
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>物资名</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="物资名不能为空">
            <input nz-input formControlName="name" placeholder="请输入物资名" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>物资总数</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="CountErrorTpl">
              <nz-input-number  
                  class="input-box input-width" 
                  nz-input 
                  [nzMin]="0"
                  [nzStep]="1"
                  formControlName="count" 
                  nzPlaceHolder="请输入物资总数"
                  ></nz-input-number>
              </nz-form-control>
        </nz-form-item>
        <nz-form-item >
        <nz-form-label [nzSpan]="7" nzRequired>使用状态</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="物资使用状态不能为空">
            <nz-radio-group formControlName="available">
                <label nz-radio nzValue="可用">可用</label>
                <label nz-radio nzValue="不可用">不可用</label>
              </nz-radio-group>
            </nz-form-control>
        </nz-form-item> 
        <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>物资总借用数量</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="borrowedCountErrorTpl">
          <nz-input-number  
              class="input-box input-width" 
              nz-input 
              [nzMin]="0"
              [nzStep]="1"
              formControlName="borrowedCount" 
              nzPlaceHolder="请输入物资总借用数量"
              ></nz-input-number>
          </nz-form-control>
        </nz-form-item>
  </form>
</nz-modal>
<!-- 物资-借用人信息弹窗 -->
<nz-modal
    nzWidth="1000px"
    [(nzVisible)]="UMisVisible" 
    [nzTitle]="'物资借用'"
    (nzOnCancel)="UMhandleCancel()"
    (nzOnOk)="UMhandleOk()"
    [nzOkLoading]="isOkLoading"
    >
    <nz-table 
       *nzModalContent 
       class="inner-table" 
       #innerTable 
       [nzData]="childListData" 
       nzSize="small" 
       [nzScroll]="{ y: '240px' }"
       [nzShowPagination]="false">
      <thead>
        <tr>
          <th>借用人</th>
          <th>借用物资</th>
          <th>借用物资数量</th>
          <th>物资是否归还</th>
          <th>联系电话</th>
          <th>地址</th>
          <th>行为</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of innerTable.data">
          <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
              <td>{{ data.userName }}</td>
              <td>{{ data.materialsName }}</td> 
              <td>{{ data.count }}</td>
              <td>{{data.back}}</td>
              <td>{{ data.phone }}</td>
              <td>{{data.address}}</td>
              <td>
                <a><button nz-button nzSize="small" nzType="default" (click)="startEdit(data.id)">编辑</button></a>
              </td>
          </ng-container>
          <ng-template #editTemplate>
            <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.userName" /></td>
            <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.materialsName" /></td>
            <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.count" /></td>
            <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.back" /></td>
            <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.phone" /></td>
            <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.address" /></td>
            <td>
              <a (click)="saveEdit(data.id)" class="save" style="margin-right: 5px;">保存</a>
              <a nz-popconfirm nzPopconfirmTitle="确认取消?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </nz-table> 
</nz-modal>
  <!-- 物资总数量错误提示 -->
<ng-template #CountErrorTpl let-control>
  <ng-container *ngIf="control.hasError('required')">物资总数量不能为空</ng-container>
  <ng-container *ngIf="control.hasError('minlength')">物资总数量不小于0</ng-container>
</ng-template>
  <!--物资总借用数量错误提示 -->
  <ng-template #borrowedCountErrorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">物资总借用数量不能为空</ng-container>
    <ng-container *ngIf="control.hasError('minlength')">物资总借用数量不小于0</ng-container>
  </ng-template>


