  <div class="bg">
      <p class="title">通过手机找回密码</p>
      <nz-divider class="line"></nz-divider>
      <nz-page-header
        class="site-page-header back"
        (nzBack)="onBack()"
        nzBackIcon
      ></nz-page-header>
      <div class="box">
          <nz-input-group nzSize="large" class="phone">
            <input  
                [(ngModel)]="phone"
                id="'phoneNumber'" 
                placeholder="请输入电话号码"
                nz-input 
                style="border-radius: 25px;"
                />
            <button 
                  class="prompt" 
                  nz-button 
                  nzType="default" 
                  nzShape="circle" 
                  nzSize="small"  
                  nzTooltipTitle="输入电话号码，点击验证码按钮获取短信验证码，填写验证码一并提交获取密码！" 
                  nzTooltipPlacement="top" 
                  nz-tooltip>
                <span nz-icon nzType="question"  nzTheme="outline"></span></button>
          </nz-input-group>
          <button class="btn" nz-button nzType="primary" nzSize="large" (click)="getPwd()">提交</button>
          <nz-input-group  class="code" nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
            <input [(ngModel)]="inputcode" style="border-radius: 25px 0  0 25px;" type="text" nz-input placeholder="请输入验证码"/>
          </nz-input-group>
          <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSize="large" nzSearch (click)="getCode()">验证码</button>
          </ng-template>
    </div>
</div>
