.bg {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,#4c59ff,#845aff);
}
.title {
    position: absolute;
    left: 1%;
    top: 3%;
    font-size: 30px;
    color: #fff;
}
.line {
    position: absolute;
    top: 7%;
    background-color: #fff;
}
.back {
    position: absolute;
    top: 9%;
    left: -1%;
}
.box {
    position: absolute;
    left: 40%;
    top: 21%;
    width: 400px;
    height: 330px;
}
.phone {
    position: absolute;
    top: 140px;
    width: 250px;
    left: 71px;
}
.prompt {
    position: absolute;
    width: -6px;
    left: 268px;
    top: 8px;
    color: #4c59ff;
    border: none;
}
.btn {
    position: absolute;
    width: 250px;
    border-radius: 20px;
    left: 72px;
    top: 235px;
    color:  rgba(76, 89, 255, 0.7);
    background-color: #fff;
    border: none;
}