<div class="bg">
    <p class="title">通过手机找回密码</p>
    <nz-divider class="line"></nz-divider>
    <nz-page-header
      class="site-page-header back"
      (nzBack)="onBack()"
      nzBackIcon
    ></nz-page-header>
    <div class="box">
        <form nz-form [formGroup]="phoneValidateForm" (ngSubmit)="submitForm()">
            <nz-form-item class="phone">
                <nz-form-control [nzErrorTip]="phoneErrorTpl">
                  <nz-input-group nzSize="large">
                    <input  
                        formControlName="phoneNumber"
                        id="'phoneNumber'" 
                        placeholder="请输入电话号码"
                        nz-input 
                        style="border-radius: 30px;"/>
                    <button 
                         class="prompt" 
                         nz-button 
                         nzType="default" 
                         nzShape="circle" 
                         nzSize="small"  
                         nzTooltipTitle="在输入框输入完电话后提交，请在短信查看找回的密码！" 
                         nzTooltipPlacement="top" 
                         nz-tooltip>
                        <span nz-icon nzType="question"  nzTheme="outline"></span></button>
                  </nz-input-group>
                </nz-form-control>
            </nz-form-item >
            <nz-form-item nz-row class="register-area">
                <nz-form-control >
                  <button class="btn" nz-button nzType="primary" nzSize="large">提交</button>
                </nz-form-control>
            </nz-form-item>
          </form>
    </div>
</div>
<!-- 电话输入框错误提示 -->
<ng-template #phoneErrorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">电话号码不能为空</ng-container>
    <ng-container *ngIf="control.hasError('errorPhone')">请输入正确的电话号码</ng-container>
</ng-template>
