.drawer {
    width: 1005;
}
.input-width {
    width: 12.5rem;
}
.header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 5%;
    background-color: #fafafa;
}
.goback {
    position: absolute;
    left: 3%;
}
.content {
    position: relative;
    width: 100%;
    height: 95%;
    background-color: #fafafa;
}
.question {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.progress {
    position: absolute;
    left: 3rem;
    top: 4rem;
}